@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --borderColor: #4a494a;
  --textColor: #e0e0e0;
  --textColorDimmed: #383537;
  --scrollColor: #040305;
  --mutedColor: #39383a;
  --bgColor: #131214;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--textColor);
  background-color: var(--bgColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 18px;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  font-size: 1.875rem;
  text-align: center;
}

.line {
  height: 1px;
  width: 100%;
  margin: 0.25rem 0;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.glassBg {
  background: rgba(26, 26, 26, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
}

.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.line {
  width: 400px;
  height: 10px;
  border-radius: 100px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 2s linear infinite;
}
